<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="5"  name="Default Suite" parallel="tests" >
    <suite-files>
        <suite-file path="UrlAndResponseCodeTestNG.xml"></suite-file>
        <suite-file path="ImgResponseCodeLoadTimeTestNG.xml"></suite-file>
        <suite-file path="DDLoginTestNG.xml"></suite-file>

    </suite-files>
</suite>